@import "tailwindcss";

@font-face {
  font-family: "Avenir Black";
  font-display: block;
  src: url("/src/font/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Avenir Light";
  font-display: block;
  src: url("/src/font/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: "Avenir Roman";
  font-display: block;
  src: url("/src/font/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Osaka Thai";
  font-display: block;
  src: url("/src/font/Osaka-Thai.otf");
}

@theme {
  --color-theme-black: #000000;
  --color-theme-dark-4: #021e20;
  --color-theme-dark-3: #032c2f;
  --color-theme-dark-2: #065a60;
  --color-theme-dark: #098891;
  --color-theme-light: #0aa0aa;
  --color-theme-light-2: #0dceda;
  --color-theme-light-3: #83e6ec;
  --color-theme-light-4: #fafafa;
  --color-theme-white: #ffffff;
  --color-theme-error: #aa140a;

  --font-heading: "Avenir Black", sans-serif;
  --font-logo: "Avenir Light", sans-serif;
  --font-body: "Avenir Roman", sans-serif;
  --font-accent: "Osaka Thai", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-medium: 38rem;
  --breakpoint-large: 48rem;
}

/* * {
  border: 0.1px solid red;
} */

.main-container {
  @apply w-full max-w-[58rem] mx-auto;
}

.bar-b {
  @apply border-b border-theme-light;
}

.bar-l {
  @apply border-l border-theme-light;
}

.ear-l {
  @apply h-full w-0 large:min-w-[9rem] large:max-w-[9rem] medium:min-w-[4rem] medium:max-w-[4rem] medium:border-r;
}

.ear-r {
  @apply h-full w-0 large:min-w-[9rem] large:max-w-[9rem] medium:min-w-[4rem] medium:max-w-[4rem] medium:border-l;
}

.chan-1 {
  @apply h-full min-w-[1rem] max-w-[1rem] border-r;
}

.chan-2 {
  @apply h-full min-w-[1rem] max-w-[1rem] border-r;
}

.chan-3 {
  @apply h-full min-w-[1rem] max-w-[1rem] border-r;
}

.chan-main-c2 {
  @apply h-full w-full;
}

.chan-main-c3 {
  @apply h-full w-full;
}

.text-heading-1 {
  @apply font-heading text-[2rem]/[1.2];
}

.text-heading-2 {
  @apply font-heading text-[1.5rem]/[1.2];
}

.text-heading-3 {
  @apply font-heading text-[1rem]/[1.2];
}

.text-heading-accent-2 {
  @apply font-accent text-[2rem]/[1.2];
}

.text-large {
  @apply font-body text-[1.125rem]/[1.4];
}

.text-medium {
  @apply font-body text-[1rem]/[1.4];
}

.text-logo {
  @apply font-logo text-[2rem]/[1.2] tracking-wider;
}

.text-info {
  @apply font-logo text-[1rem]/[1.2];
}

.ai-office-right {
  @apply bg-[url(https://placehold.co/600x144)] bg-cover bg-top-left bg-no-repeat;
}

.ai-office-left {
  @apply bg-[url(https://placehold.co/600x144)] bg-cover bg-top-right bg-no-repeat;
}

.ai-office-full {
  @apply bg-[url(https://placehold.co/600x144)] bg-cover bg-top-left bg-no-repeat;
}

.vertical {
  writing-mode: sideways-lr;
}
