@import "tailwindcss";

@theme {
  --color-theme-black: #000000;
  --color-theme-dark-4: #021e20;
  --color-theme-dark-3: #032c2f;
  --color-theme-dark-2: #065a60;
  --color-theme-dark-1: #098891;
  --color-theme-light-1: #0aa0aa;
  --color-theme-light-2: #0dceda;
  --color-theme-light-3: #83e6ec;
  --color-theme-light-4: #fafafa;
  --color-theme-white: #ffffff;
  --color-theme-error: #aa140a;

  --font-display: "Helvetica Neue", sans-serif;
}

.bg-main {
  @apply bg-theme-light-4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23065a60' fill-opacity='0.03' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.fade-in {
  @apply transition-opacity duration-700 ease-in opacity-0 invisible;
  will-change: opacity, visibility;
}

.fade-in.fade-in-visible {
  @apply opacity-100 visible;
}

.card {
  @apply relative w-[450px] h-[150px] overflow-hidden bg-gradient-to-br from-theme-dark-1 to-theme-light-1;
}

.card:nth-child(1),
.card:nth-child(4) {
  @apply bg-gradient-to-br from-theme-dark-4 to-theme-light-1;
}

.card:before {
  @apply absolute w-[80px] h-[80px] -top-[40px] -right-[40px] bg-theme-light-4;
  transform: rotate(45deg);
  content: "";
}

.card:after {
  @apply absolute w-[150px] h-[8px] bottom-[20px] right-[20px] bg-theme-light-2;
  content: "";
}

.card > p {
  @apply invisible opacity-0 cursor-default;
}

.card:hover > h1 {
  @apply invisible;
}

.card:hover > p {
  @apply transition-all duration-400 visible -translate-y-[40px] opacity-100;
}
